services:
  mssql_db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bolt_mssql_db
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/mssql-tools18/bin/sqlcmd -S ${BOLT_DB_HOST:?err} -U ${BOLT_DB_USER:?err} -P ${BOLT_DB_PASSWORD:?err} -Q 'SELECT 1' -C || exit 1",
        ]
      interval: 10s
      timeout: 3s
      start_period: 10s
      retries: 10
    ports:
      - "${BOLT_DB_PORT:?err}:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${BOLT_DB_PASSWORD:?err}
